@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-Bold.woff2") format("woff2"),
        url("assets/fonts/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins-Regular.woff2") format("woff2"),
        url("assets/fonts/Poppins-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
:root {
    --primary: theme(colors.primary);
    --secondary: theme(colors.secondary);
    --heading: theme(colors.heading);
}
* {
    box-sizing: border-box;
    word-break: break-word;
}

@layer base {
    body {
        @apply font-primary text-default;
    }
    .container {
        @apply mx-auto px-4;
    }
    .container-fluid {
        @apply mx-auto px-4 max-w-[1300px];
    }
    p {
        @apply text-default dark:text-white text-lg md:text-xl leading-8;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold text-heading dark:text-white;
    }
    h1 {
        @apply text-5xl;
    }
    h2 {
        @apply text-4xl;
    }
    h3 {
        @apply text-3xl;
    }
    h4 {
        @apply text-2xl;
    }
    h5 {
        @apply text-xl;
    }
    h6 {
        @apply text-lg;
    }
    .text-outline-2 {
        -webkit-text-stroke: 2px white;
    }
}

@layer components {
    .tw-btn {
        @apply py-2.5 px-6 rounded inline-block font-medium text-base;
    }
    .tw-btn-primary {
        @apply bg-primary text-white;
    }
}

.menu li > *:not(ul, .menu-title, details, .btn).active {
    @apply bg-primary text-white;
}

.footer-sec p {
    @apply text-white/90 text-base mb-3;
}

.footer-sec li a {
    @apply hover:text-primary inline-block mb-2 text-white/90 hover:underline;
}

.swiper-pagination-bullet {
    @apply !h-3 !w-3 !opacity-100 !bg-white/40;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply !bg-white;
}
.swiper-horizontal > .swiper-pagination-bullets {
    @apply !top-auto !bottom-7;
}
.tm-sec .swiper-pagination-bullet {
    @apply !h-3 !w-3 !opacity-100 !bg-black/20;
}
.tm-sec .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply !bg-black;
}
.tm-sec .swiper-horizontal > .swiper-pagination-bullets {
    @apply static mt-8;
}
